@use"./global";
@use"./variables";
//contacto mobile
.marginContact{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    align-items: flex-start;
}
.grid_Contacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "texto"
    "formu"
    ;
    
}
.titulo{
    grid-area: title;
    justify-items: start;
    font-family:'Roboto', sans-serif;
}
.texto{
    grid-area: texto;
    font-family: 'Montserrat', sans-serif;
    justify-items:center
}
.form{
    grid-area: formu;
    justify-items: start;
}

//Desktop

@media screen and (min-width: 600px) {
    .marginContact{
        margin-top:10px;
    }
    .grid_Contacto{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
        "title title formu"
        "texto texto formu"
        "texto texto formu"
        ;
        
    }
    .titulo{
        grid-area: title;
    }
    .texto{
        grid-area: texto;
    }
    .form{
        grid-area: formu;
    }

}