@use"./global";
@use"./variables";
//index~mobile

.grilla{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    align-items:start;
    .header{
    grid-area: header;
    }
    .main{
    grid-area: main;
    }
    width: auto;
}
.main{
    #arriba{
        margin-top:65px;
        padding-top:0%;
        .hUno{
            margin-top:5vh;
            padding:2%;
        }
    }

}
.tituloCarrusel{
    margin:0%;
    font-size: 2.2rem;
}
.grid_Carrusel{
    display: grid;
    justify-items:center;
    align-items: center;
    grid-template-columns: 1fr;
    border:0;
   // width: 100vw;
    //height: 100vh;
    .grid__Item{    
        padding:5%;

        .imgCarrusel{
             width: 80vw;
             height: 100vh; 
        }
    }
    
}
h5{
    color:black;
    
}
.textoCarrusel{
    color:black;
    font-size:1.2rem;
}
.informacion{
    display:none;
}
//vista desktop

@media screen and (min-width: 600px) {
    .grilla{
        display:grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
        align-self:center
    }
    //carrusel
    .grid_Carrusel{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items:center;
        align-items: center;
        padding:0;
        border:0;
        margin:10vh auto 2% auto;
        margin-right: auto;
        width: 90vw;
        height: 100vh;
        background-size: cover;
        .imgCarrusel{
            width: 100%;
        }
        
    }
    .tituloCarrusel{
        font-size: 3rem;
        color:rgba(20, 19, 19, 0.623);
        text-shadow: 0 0 8px rgba(114, 108, 108, 0.8);
    }
    .información{
        display:block; 
    }
    .infoMelamina{
        display:block;
        height:30vw;
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        overflow:hidden;
        margin-top:2%;
        position:fixed;
        .texto1{
            margin:2%;
             width:50%
        }
       .containMela{
        margin-right: 2%;
        height:30vw;
        width:50%;
       }
    }
    .textoMela{
        margin:2%;
        padding:2%;
        
        font-size:4rem;
        }
    .fotoMela{
        width:500px;
        height: 350px;

    }
}   

