@use"./global";
@use"./variables";
//index~mobile

.grilla{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    align-items:start;
    .header{
    grid-area: header;
    }
    .main{
    grid-area: main;
    }
}
.grid_Carrusel{
    display: grid;
    justify-items:center;
    align-items: center;
    grid-template-columns: 1fr;
    padding:0;
    border:0;
    width: 100vh;
    height: 100vh;
    background-size: cover;
    .grid__Item{    
        .imgCarrusel{
             width: 100vh;
             height: 100vh; 
        }
    }
    
}
h5{
    color:black;   
}
.textoCarrusel{
        color: black;
    }
//vista desktop

@media screen and (min-width: 600px) {
    .grilla{
        display:grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
        align-self:center
    }
    //carrusel
    .grid_Carrusel{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items:center;
        align-items: center;
        padding:0;
        border:0;
        margin:10vh auto 2% auto;
        margin-right: auto;
        width: 90vw;
        height: 100vh;
        background-size: cover;
        .imgCarrusel{
            width: 100%;
        }
        
    }
    .tituloCarrusel{
            font-size: 2rem;
            color:rgba(20, 19, 19, 0.623);
            text-shadow: 0 0 8px rgba(114, 108, 108, 0.8);
        }
}   

