@use"./global";
@use"./variables";
//info~mobile
.marginInfo{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    .header{
        grid-area: header;
    }

    .main{
        grid-area: main;
    }
 
    .footer{
        grid-area: footer;
    }

}

.tituloI{
    padding-bottom: 0;
    h1{
        margin-top: 2vh;
    }
    p{
        margin:0;
    }
}
.acordion{
    h3{
        font-family: variables.$font-family;
        text-align: start;
        color:black;
    }
}

//Vista~desktop

@media screen and (min-width: 600px){
    .tituloI{
        h1{
            top:0%;
        }
        p{
            margin:0;
        }
    }
    .gridMain{
        display:grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2,auto);
        grid-template-areas:
        "titulo acordion"
        "titulo acordion"
        ;
        .tituloI{
          grid-area: titulo;
            text-align: center;
            border-color: rgb(252, 233, 209);
        }
        .acordion{
           grid-area:acordion;
        }
    }
}