@use"./variables";
@use"./global";
//vista mobile
body{
    width: 100%;
    height: 100vh;
}
.marginProduc{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    align-items: start;
    .header{
        grid-area: header;
    }
    .main{
        grid-area: main;
        position:sticky;
    }
    .footer{
        grid-area: footer;
    }
}
.grid_productos{
    width:100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "canva"
    "card"
    ;
    
    .offcanva{
        grid-area: canva;
        .offcanvas-header{
            background-color: rgb(255, 250, 199);
            padding: 1rem;
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        .btn-close{
            background-color: rgb(212, 212, 212);
            padding:2%;
        }
        .offcanvas-title{
            text-align: variables.$text-center;
            margin:6px;
            padding-left:2rem;
        }
    }
    .cardProductos{
        grid-area: card;
        padding:2%;
        padding-bottom: 4%;
        .cardsSizes{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin:0;
            padding-left: 0;
            height: 200vh;
            width: 80%;
        }
        .boxText{
            display:none;
        }
    }
}
.aside{
        display:none;
    }
//vista desktop

@media screen and (min-width: 600px) {

    .marginProduc{
        display:grid;
        grid-template-columns: repeat(3,auto);
        grid-template-areas: 
        "header header header"
        "aside main main"
        "footer footer footer"
        ;
        align-items: start;
        .header{
            grid-area: header;
        }
        .main{
            grid-area: main;
        }
        .footer{
            grid-area: footer;
        }
    }        
    .aside{
        grid-area: aside;
        display:block;
        margin-top: 150px;
        padding-top: 20px;
        .headerAcordion{
            background-color:transparent; 
            border:none;
            padding:0;
            margin-top: 20px;
        }
            
    }
    .offcanva{
        display:none;
    }
    .cardProductos{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        
        .row{
            margin-bottom:5%; 
            width: 100%;
        }
        .cards{
            overflow: hidden;
            height: 50vh;
            width: 50%;
            transition: 1s;
            .boxText{
              display:none;
            }
        &:hover{
            transform:scale(1.1);
            filter:brightness(0.6);
            .boxText{
                display:block;
                background-color: rgb(233, 229, 229);
              //  border:solid black;
                position: absolute;
                bottom:100px;
                margin:30%;
                padding:1%;
                font-size: 2rem;
                text-align: center;
                text-shadow: 0 0 8px rgba(15, 15, 15, 0.8);
            }
        }
        }
        
        .imgCard{
               padding-bottom: 15%;
               height: 400px;
               width: 500px;
            }
    }
}
    
